:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --gradientColorLight: rgba(21, 32, 43, 0.8);
  --gradientColorDark: rgb(25, 39, 52, 0.8);

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eee;

  --themeDotBorder: #fff;

  --previewBg: rgb(25, 39, 52, 0.8);

  --previewShadow: #111921;

  --buttonColor: #17a2b8;
}
