:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --gradientColorLight: rgba(234, 234, 234, 0.8);
  --gradientColorDark: rgb(255, 255, 255, 0.8);
  --borderColor: #c1c1c1;
  --mainText: #000;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --boxShadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
  --buttonColor: #000; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--secondaryText);
  background-color: var(--mainColor);
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #17a2b8; }

ul {
  list-style-type: none; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 1rem 0; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem;
  text-align: center;
  color: #fff; }

h6 {
  font-size: 1.6rem; }

/* h1 heading*/
.h1-heading {
  text-transform: uppercase;
  backface-visibility: hidden;
  color: var(--mainText);
  /* color: var(--secondaryColor); */
  margin-bottom: 6rem; }
  .h1-heading .main-text {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    /* letter-spacing: 0.5rem; */
    line-height: 1;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-delay: 2s;
    /*animation-iteration-count: 3s; */ }
  .h1-heading .sub-text {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    animation: moveInRight 3s ease-out 2s;
    animation-fill-mode: backwards;
    margin-top: 2rem; }

h2,
h3,
h4,
h5,
h6,
strong,
#submit-btn,
.card-btn {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  color: var(--mainText); }

.u-text__center {
  text-align: center !important; }

.u-text__margin {
  margin: 1rem 0 !important; }

.u-margin__top {
  margin-top: 1rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  color: var(--mainText); }

.btn:hover {
  transform: translateY(-0.3rem);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow); }

.btn:active {
  transform: translateY(-0.1rem);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-white {
  background-color: var(--mainColor);
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

#submit-btn {
  margin-top: 2rem;
  width: 100%; }

.card-btn,
#submit-btn {
  cursor: pointer;
  border: 1px solid var(--borderColor);
  padding: 1rem 1.5rem;
  background-color: var(--mainColor);
  color: var(--mainText);
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  transform: scaleY(1);
  display: inline-block;
  transition: all 0.2s; }
  .card-btn__front,
  #submit-btn__front {
    margin-top: 3rem; }
  .card-btn:hover,
  #submit-btn:hover {
    transform: scaleY(0.9);
    box-shadow: none; }

.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32rem);
  gap: 5rem 5rem;
  justify-content: center;
  padding-bottom: 5rem; }
  .posts-wrapper .post {
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 54rem; }
    .posts-wrapper .post-preview {
      border: 0.1rem solid var(--borderColor);
      -webkit-box-shadow: var(--boxShadow);
      -moz-box-shadow: var(--boxShadow);
      box-shadow: var(--boxShadow);
      height: 54rem;
      width: 100%;
      transition: all 0.8s ease;
      position: absolute;
      padding: 0.5rem;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden; }
      .posts-wrapper .post-preview__front {
        background-image: linear-gradient(to top, var(--secondaryColor), var(--mainColor)); }
      .posts-wrapper .post-preview__back {
        background-image: linear-gradient(to top, var(--secondaryColor), var(--mainColor));
        transform: rotateY(180deg); }
    .posts-wrapper .post-picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: overlay; }
      .posts-wrapper .post-picture__1 {
        background-image: linear-gradient(to top, var(--secondaryColor), var(--mainColor)), url(../img/natours.png);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .posts-wrapper .post-picture__2 {
        background-image: url(../img/random.jpg); }
      .posts-wrapper .post-picture__3 {
        background-image: url(../img/random.jpg); }
    .posts-wrapper .post-heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #4b5156;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; }
      .posts-wrapper .post-heading__span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(234, 234, 234, 0.85)); }
    .posts-wrapper .post-details {
      padding: 3rem;
      text-align: center;
      color: var(--mainText);
      font-size: 1.5rem; }
      .posts-wrapper .post-details .paragraph-back {
        font-size: 1.8rem;
        padding: 0; }
      .posts-wrapper .post-details ul {
        list-style: none;
        width: 80%;
        margin: 0 auto; }
        .posts-wrapper .post-details ul li {
          padding: 1rem; }
          .posts-wrapper .post-details ul li:not(:last-child) {
            border-bottom: 1px solid var(--borderColor);
            padding-bottom: 0; }
  .posts-wrapper .post:hover .post-preview__front {
    transform: rotateY(-180deg); }
  .posts-wrapper .post:hover .post-preview__back {
    transform: rotateY(0); }

#contact-form {
  display: block;
  max-width: 60rem;
  margin: 0 auto;
  border: 0.1rem solid var(--borderColor);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--mainColor);
  margin-bottom: 5rem;
  box-shadow: var(--boxShadow); }
  #contact-form .label {
    line-height: 2.7em; }
  #contact-form .textarea {
    min-height: 100%;
    font-size: 1.4rem; }
  #contact-form .input-field {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondaryColor);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--borderColor);
    font-size: 1.4rem; }

.section-one {
  background-color: var(--mainColor);
  border-bottom: 0.1rem solid var(--borderColor);
  overflow: hidden;
  height: auto; }
  .section-one__wrapper {
    background: transparent url("https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") fixed;
    background-size: 100%;
    /* background-color: var(--secondaryColor); */
    border: 0.1rem solid var(--borderColor);
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.2rem 32em;
    grid-template-areas: "nav-wrapper nav-wrapper" "left-column right-column";
    margin: 5rem 0;
    overflow: hidden; }
    .section-one__wrapper .left-column {
      grid-area: left-column;
      padding: 5rem 0 5rem 0; }
      .section-one__wrapper .left-column #profile-pic {
        display: block;
        margin: 0 auto;
        height: 30rem;
        width: 30rem;
        object-fit: cover;
        border: 0.2rem solid var(--borderColor); }
      .section-one__wrapper .left-column #theme-options-wrapper {
        display: flex;
        justify-content: center; }
      .section-one__wrapper .left-column .theme-dot {
        height: 3rem;
        width: 3rem;
        background-color: #000;
        border-radius: 50%;
        margin: 0.5rem;
        border: 0.2rem solid var(--themeDotBorder);
        -webkit-box-shadow: var(--boxShadow);
        -moz-box-shadow: var(--boxShadow);
        box-shadow: var(--boxShadow);
        cursor: pointer; }
        .section-one__wrapper .left-column .theme-dot:hover {
          border-width: 0.5rem;
          transition: 0.3s; }
      .section-one__wrapper .left-column #light-mode {
        background-color: #fff; }
      .section-one__wrapper .left-column #blue-mode {
        background-color: #15202b; }
      .section-one__wrapper .left-column #green-mode {
        background-color: #78866b; }
      .section-one__wrapper .left-column #purple-mode {
        background-color: #7e4c74; }
      .section-one__wrapper .left-column #settings-note {
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
        color: #fff; }
    .section-one__wrapper .right-column {
      grid-area: right-column;
      display: grid;
      align-content: center;
      padding: 5rem 0 5rem 0;
      justify-content: center; }
      .section-one__wrapper .right-column #preview-shadow {
        background-color: var(--previewShadow);
        width: 30rem;
        height: 25rem;
        padding-left: 3rem;
        padding-top: 3rem; }
        .section-one__wrapper .right-column #preview-shadow #preview {
          width: 30rem;
          height: 25rem;
          border: 1.5px solid #17a2b8;
          background-color: var(--previewBg);
          padding: 1.5rem;
          position: relative; }
          .section-one__wrapper .right-column #preview-shadow #preview .corner {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            border: 0.15px solid #17a2b8;
            background-color: #fff;
            position: absolute; }
          .section-one__wrapper .right-column #preview-shadow #preview #corner-tl {
            top: -0.5rem;
            left: -0.5rem; }
          .section-one__wrapper .right-column #preview-shadow #preview #corner-tr {
            top: -0.5rem;
            right: -0.5rem; }
          .section-one__wrapper .right-column #preview-shadow #preview #corner-br {
            bottom: -0.5rem;
            right: -0.5rem; }
          .section-one__wrapper .right-column #preview-shadow #preview #corner-bl {
            bottom: -0.5rem;
            left: -0.5rem; }

.section-two {
  background-color: var(--secondaryColor);
  border-bottom: 0.1rem solid var(--borderColor);
  overflow: auto; }
  .section-two .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 5rem 0 5rem 0;
    gap: 10rem; }
    .section-two .about-wrapper__content #skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: var(--previewShadow);
      box-shadow: var(--boxShadow); }
      .section-two .about-wrapper__content #skills .skills-list {
        padding: 1rem; }
  .section-two .social-links {
    display: grid;
    align-content: center;
    text-align: center; }
    .section-two .social-links .img-wrapper {
      position: relative; }
      .section-two .social-links .img-wrapper .social-img {
        width: 100%;
        transition: all 0.5s; }
      .section-two .social-links .img-wrapper .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #000;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden; }
      .section-two .social-links .img-wrapper:hover .caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to right bottom, var(--gradientColorLight), var(--gradientColorDark)); }
      .section-two .social-links .img-wrapper:hover .social-img {
        transform: scale(0.9);
        filter: blur(3px) brightness(80%); }

.section-container {
  width: 120rem;
  margin: 0 auto; }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--gradientColorLight), var(--gradientColorDark));
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .heading-wrapper {
    width: 60%;
    display: grid;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* min-height: 10rem; */
    overflow: hidden; }

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 0.1rem solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor); }
  .nav-wrapper__dots {
    display: flex;
    padding: 1rem; }
    .nav-wrapper__dots #dot-1 {
      background-color: #fc6058; }
    .nav-wrapper__dots #dot-2 {
      background-color: #fec02f; }
    .nav-wrapper__dots #dot-3 {
      background-color: #2aca3e; }
    .nav-wrapper__dots .browser-dot {
      background-color: #000;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      margin: 0.5rem;
      -webkit-box-shadow: var(--boxShadow);
      -moz-box-shadow: var(--boxShadow);
      box-shadow: var(--boxShadow); }
  .nav-wrapper #navigation {
    margin: 0;
    padding: 1rem; }
    .nav-wrapper #navigation .navigation-list {
      display: inline-block;
      margin-right: 0.5rem;
      margin-left: 0.5rem; }

/* Media */
@media screen and (max-width: 120rem) {
  .section__container {
    width: 95%; } }

@media screen and (max-width: 80rem) {
  .header__text--wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "nav-wrapper" "left-column" "right-column"; }
  .section__one--wrapper {
    display: block; }
  .right__column {
    justify-content: center; } }

@media screen and (max-width: 40rem) {
  .heading__main {
    font-size: 3.3rem; }
  .heading__sub {
    font-size: 2.3rem; } }
