@import "abstracts/variables";
// @import "abstracts/functions";
// @import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
// @import "components/composition";
// @import "components/feature-box";
@import "components/form";
// @import "components/popup";
// @import "components/story";

// @import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

// @import "pages/home";

/* Media */
@media screen and (max-width: 120rem) {
  .section__container {
    width: 95%;
  }
}

@media screen and (max-width: 80rem) {
  .header__text--wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .section__one--wrapper {
    display: block;
  }

  .right__column {
    justify-content: center;
  }
}

@media screen and (max-width: 40rem) {
  .heading__main {
    font-size: 3.3rem;
  }

  .heading__sub {
    font-size: 2.3rem;
  }
}
