// Section one
.section-one {
  background-color: var(--mainColor);
  border-bottom: 0.1rem solid var(--borderColor);
  overflow: hidden;
  height: auto;

  // Section one wraper
  &__wrapper {
    background: transparent
      url("https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80")
      fixed;
    background-size: 100%;
    /* background-color: var(--secondaryColor); */
    border: 0.1rem solid var(--borderColor);
    border-radius: 0.5rem 0.5rem 0 0;

    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.2rem 32em;
    grid-template-areas:
      "nav-wrapper nav-wrapper"
      "left-column right-column";

    margin: 5rem 0;
    overflow: hidden;

    // Section one left column
    .left-column {
      grid-area: left-column;
      padding: 5rem 0 5rem 0;
      #profile-pic {
        display: block;
        margin: 0 auto;

        height: 30rem;
        width: 30rem;
        object-fit: cover;
        border: 0.2rem solid var(--borderColor);
      }

      #theme-options-wrapper {
        display: flex;
        justify-content: center;
      }

      .theme-dot {
        height: 3rem;
        width: 3rem;
        background-color: #000;
        border-radius: 50%;

        margin: 0.5rem;
        border: 0.2rem solid var(--themeDotBorder);

        -webkit-box-shadow: var(--boxShadow);
        -moz-box-shadow: var(--boxShadow);
        box-shadow: var(--boxShadow);

        cursor: pointer;

        &:hover {
          border-width: 0.5rem;
          transition: 0.3s;
        }
      }

      #light-mode {
        background-color: #fff;
      }

      #blue-mode {
        background-color: #15202b;
      }

      #green-mode {
        background-color: #78866b;
      }

      #purple-mode {
        background-color: #7e4c74;
      }

      #settings-note {
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
        color: #fff;
      }
    }

    // Section one right column
    .right-column {
      grid-area: right-column;
      display: grid;
      align-content: center;
      padding: 5rem 0 5rem 0;
      justify-content: center;

      #preview-shadow {
        background-color: var(--previewShadow);
        width: 30rem;
        height: 25rem;
        padding-left: 3rem;
        padding-top: 3rem;

        #preview {
          width: 30rem;
          height: 25rem;
          border: 1.5px solid #17a2b8;
          background-color: var(--previewBg);
          padding: 1.5rem;
          position: relative;

          .corner {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            border: 0.15px solid #17a2b8;
            background-color: #fff;
            position: absolute;
          }

          #corner-tl {
            top: -0.5rem;
            left: -0.5rem;
          }

          #corner-tr {
            top: -0.5rem;
            right: -0.5rem;
          }

          #corner-br {
            bottom: -0.5rem;
            right: -0.5rem;
          }

          #corner-bl {
            bottom: -0.5rem;
            left: -0.5rem;
          }
        }
      }
    }
  }
} // Section one end

// Section two
.section-two {
  background-color: var(--secondaryColor);
  border-bottom: 0.1rem solid var(--borderColor);
  overflow: auto;
  // About
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 5rem 0 5rem 0;
    gap: 10rem;

    &__content {
      #skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: var(--previewShadow);
        box-shadow: var(--boxShadow);

        .skills-list {
          padding: 1rem;
        }
      }
    }
  }

  // Social links
  .social-links {
    display: grid;
    align-content: center;
    text-align: center;

    .img-wrapper {
      position: relative;

      .social-img {
        width: 100%;
        transition: all 0.5s;
      }

      .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #000;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
      }

      &:hover .caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(
          to right bottom,
          var(--gradientColorLight),
          var(--gradientColorDark)
        );
      }

      &:hover .social-img {
        transform: scale(0.9);
        filter: blur(3px) brightness(80%);
      }
    }
  }
} // Section two end

// Section one and two container
.section-container {
  width: 120rem;
  margin: 0 auto;
}
