.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  color: var(--mainText);
}

.btn:hover {
  transform: translateY(-0.3rem);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

.btn:active {
  transform: translateY(-0.1rem);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-white {
  background-color: var(--mainColor);
  color: #777;

  &::after {
    background-color: #fff;
  }
}

// Form button
#submit-btn {
  margin-top: 2rem;
  width: 100%;
}

.card-btn,
#submit-btn {
  cursor: pointer;
  border: 1px solid var(--borderColor);
  padding: 1rem 1.5rem;
  background-color: var(--mainColor);
  color: var(--mainText);
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  transform: scaleY(1);
  display: inline-block;
  transition: all 0.2s;

  &__front {
    margin-top: 3rem;
  }

  &__back {
    @include respond(tab-land) {
      margin-top: .8em;
    }

    @include respond(tab-port) {
      margin-top: 3em;
    }

    @include respond(phone) {
      margin-top: 3.1em;
    }
  }

  &:hover {
    transform: scaleY(0.9);
    box-shadow: none;
  }
}
