// Post card functionality
.posts__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32rem);
  gap: 5rem 5rem;
  justify-content: center;
  padding-bottom: 5rem;

  .post {
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 52rem;

    &__preview {
      border: 0.1rem solid var(--borderColor);
      -webkit-box-shadow: var(--boxShadow);
      -moz-box-shadow: var(--boxShadow);
      box-shadow: var(--boxShadow);
      height: 52rem;
      width: 100%;
      transition: all 0.8s ease;

      position: absolute;
      padding: 0.5rem;
      top: 0;
      left: 0;
      backface-visibility: hidden;

      border-radius: 3px;
      overflow: hidden;

      &__title {
        // color: #000;
        margin: 0;
      }

      &__intro {
        color: #4b5156;
        font-size: 1.4rem;
      }

      &--front {
        background-image: linear-gradient(
          to top,
          var(--secondaryColor),
          var(--mainColor)
        );
      }

      &--back {
        background-image: linear-gradient(
          to top,
          var(--secondaryColor),
          var(--mainColor)
        );
        transform: rotateY(180deg);
      }
    }

    // Front side styling
    &__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: overlay;
      // exclusion
      // hard-light
      // overlay
      &--1 {
        background-image: linear-gradient(
            to top,
            var(--secondaryColor),
            var(--mainColor)
          ),
          url(../img/random.jpg);

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      }

      &--2 {
        background-image: url(../img/random.jpg);
      }

      &--3 {
        background-image: url(../img/random.jpg);
      }
    }

    &__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #4b5156;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%;

      &--span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        background-image: linear-gradient(
          to right bottom,
          rgba($secondary-color, 0.85),
          rgba($main-color, 0.85)
        );
      }
    }

    &__details {
      padding: 3rem;
      text-align: center;

      ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        li {
          font-size: 1.5rem;
          padding: 1rem;

          &:not(:last-child) {
            border-bottom: 1px solid var(--borderColor);
          }
        }
      }
    }
  }

  // Part of card functionality
  .post:hover .post__preview--front {
    transform: rotateY(-180deg);
  }

  .post:hover .post__preview--back {
    transform: rotateY(0);
  }
}
