*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--secondaryText);
  background-color: var(--mainColor);

  box-sizing: border-box;
}